<h2><%= @user.username %> </h2> has commented on the following posts:<br>

Comments:
  <% @user.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.message %><br>
  <% end %>
      <p> 
  Posts:
  <% @user.posts.each do |post| %>
    <%= post.name %> <br>
    <% if post.image.attached? %>
  <%= image_tag post.image %><br>
    Album Title:
    <%= post.record.title %><br>
    Genre:
    <%= post.genre.name %><br>
    <%= post.artist_name %><br>
    Contents:
    <%= post.contents %><br>
    <%= link_to "Edit Post", edit_post_path(post) %><br>
    <%= button_to "delete", post, :method => :delete %><br>
  <%= link_to post.name, post_path(@user, post) %><br></p> 
<% end %>
<% end %>


<% if current_user %>
<%=     link_to "Logout", logout_path %>
<% else %>
<%=     link_to "Login", :controller => 'sessions', :action => 'new' %>


</center>
<% end %>
