<center>
<h1>Edit Post</h1>
<%= form_for(@post) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br>
        <%= f.label :contents %>
        <%= f.text_field :contents %><br>
        <%= f.hidden_field :user_id %>
       
        <%= f.fields_for :record do |record_attributes| %>
        <%= record_attributes.label :title %>
        <%= record_attributes.text_field :title %><br>

        <%= f.fields_for :genre, @post.genre do |genre_attributes| %>
                <%= genre_attributes.label :name %>
           <%= genre_attributes.collection_select :name, Genre.all, :id, :name %><br>
        <% end %>

        <% end %>
        <%= f.label :image %>
        <%= f.file_field :image %><br>
        <%= f.submit %>
        <% end %>
</center>