
<ul>
<%= @posts.each do |post| %>
<% post.user = current_user %>
<li><%= post.name %></li>
<li><%= post.current_record.title %></li>
<li><%= post.current_record.image %></li>
<li><%= post.contents %></li>
 </ul>
 <% end %>
 
