<h3>Filter posts:</h3>
  <%= form_tag("/posts", method: "get") do %>
    <%= select_tag "artist", options_from_collection_for_select(@artists, "id", "name") %>
    <%= submit_tag "Filter" %>
  <% end %>

  <% @posts.each do |post| %>

  <strong> <h3><%= post.name %></h3> </strong><br>
  ALBUM:<p><%= post.record.title %></p>
  ARTIST:<p><%= post.artist.name %></p>
  <% post.genres.each do |genre| %>
    GENRE:<p><%= genre.name %></p>
    <% end %>
  <% if post.image.attached? %>
  <li><%= image_tag post.image %></li>
  <% end %>
  <% post.categories.each do |category| %><br>
    <%= category.name %><br>
    <% end %>
  <div><%= post.contents %></div>
  <% post.comments.each do |comment| %>
  COMMENT: <strong><%= comment.message %></strong> <br>
  <br>
  <em style="font-size:14px; color:black">
  posted by: <%= comment.user.username %>
  <% end %>
  <%= link_to "Add Comment", new_comment_path(post_id: post.id) %>
  <% end %>




  


  
