<div>
  <h3>Filter posts:</h3>
  <%= form_tag("/posts", method: "get") do %>
    <%= select_tag "genre", options_from_collection_for_select(Genre.all, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
    
  <% end %>



<% @posts.each do |post| %>

  <h2><%= post.name %></h2>
  
  <p><%= post.contents %></p>

    <% post.comments.each do |comment| %>
      <strong><%= comment.message %></strong>
      <br>
      <em style="font-size:12px; color:black">
      posted by: <%= comment.user.username %>
    <% end %>
    <%= link_to "Add Comment", new_comment_path(post_id: post.id) %>
    <div><li><h2><%= post.name %></h2></li> </div>
   <div> <li><%= post.contents %></li></div>
   <div> <%= post.artist_name %><br> </div>
   
    <% if !post.record.nil? %> 
    <div>  <li><h3><%= post.record.title %></h3></li> </div>
    <% end %>
    <% if post.image.attached? %>
      <li><%= image_tag post.image %></li>
    <% end %>
<% end %>




  


  
