
<ul>
<%= @post.each do |post| %>
<% post.user = current_user %>
<li><%= post.name %></li>
<li><%= post.record.title %></li>
<li><%= post.record.image %></li>
<li><%= post.contents %></li>
 </ul>
 <% end %>

