<center>
<ul>
<<<<<<< HEAD
<% @posts.each do |post| %>
  
  <li><h2><%= post.name %></h2></li> 
  <li><%= post.contents %></li> 
  <li><h3><%= post.record.title %></h3></li> 
  <% if post.image.attached? %>
  <li><%= image_tag post.image %></li>
  <% end %>


  
  
  </p>
  <%= link_to "Add Comment", new_comment_path(post_id: post.id) %>
  <br>
  Comments:
    <% post.comments.each do |comment| %>
      <%= link_to comment.user.username, user_path(comment.user) %> said
      <%= comment.message %>
    <% end %>
    

    <% end %>

    </ul>
</center>

=======
<%= @posts.each do |post| %>
<% post.user = current_user %>
<li><%= post.name %></li>
<li><%= post.record.title %></li>
<li><%= post.record.image %></li>
<li><%= post.contents %></li>
 </ul>
 <% end %>
 
>>>>>>> 792ee71d4d5f803d990291607a895611529ecb45
