<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<center>
<h1>Make A New Post</h1>
<%= form_for(@post) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br>
        <%= f.label :contents %>
        <%= f.text_area :contents, size: "30x5" %><br>
        <%= f.label :image %>
        <%= f.file_field :image %>
       
        <%= f.fields_for :record, @post.record do |record_attributes| %>
        <%= record_attributes.label :title %>
        <%= record_attributes.text_field :title %><br>
        
        
        <%= f.fields_for :genres, @post.genres.build do |genres_fields| %>
                <%= genres_fields.label :genre %>
                <%= genres_fields.collection_select :genres, Genre.all, :name, :name %><br>
               
                <% end %>
        <% end %>
        <%= f.submit %>
        <% end %>
        </center>
   
