<center>
<li><%= link_to "Browse Records", records_path %><li>
<br>
<li><%= link_to "Make a Post", new_post_path %><li>
<br>
<li><%= link_to "View all Records", posts_path %><li>
</ul>

#<% @post.user = current_user %><br>

<%= @post.user.username.pluralize.upcase %> post: <br>
 
Post title: <h3><%= @post.name %></h3>
<p>
Album title:
<%= @post.record.title %><br>
  <%= image_tag @post.image %><br> 
Contents: <%= @post.contents %>


<%= link_to "Edit", edit_post_path(@post) %>

Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>

<div class="@post">
      <span><%= @post.name %></span>
      <%= link_to "Delete", @post, method: :delete, data: { confirm: "Really?" } %>
      
    </div>

  </center>
  