<center>
<%= @post.user.username.pluralize.upcase %><br> new post
<div> <h3><%= @post.name %></h3><br></div>

album title:<br>
<%= @post.record.title %><br>
artist name:
<%= @post.artist.name %><br>
Genre:name
<% @post.genres.each do |genre| %><br>
<%= genre.name %><br>
<% end %>
<br><% if @post.image.attached? %>
<%= image_tag @post.image %><br>
<% @post.categories.each do |category| %><br>
<%= category.name %><br>
<% end %>
<br> Contents: <%= @post.contents %><br>
<%= link_to "Edit Post", edit_post_path(@post) %>
  
<%= button_to "Delete post", post_path(@post), method: :delete %>
</center>
<% end %>

Comments:
<% @post.comments.each do |comment| %>
<%= link_to comment.user.username, user_path(comment.user) %> said
<%= comment.content %> 
<% end %>
  