<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 300px;
  border: 20px solid gray;
  padding: 5px;
  margin: 20px;
  text-align: center
}
</style>

<style>
p {
  background-color: lightgrey;
  width: 100px;
  border: 5px solid pink;
  padding: 4px;
  margin: 20px;
  text-align: center
}
</style>
</head>
<body>

<div class="container">
      <p style="text-align:left;">
        <h1 style="font-family:'Courier New';" style="color:Black;"><strong>Vinyl Heads</strong></h1>
        <img src="https://cdn.shopify.com/s/files/1/0580/0965/products/hu8EvlLSLy6BI50kkLpQ_web_productimage_rezinfinite_vinyl_8.jpg" width="100" height="100">
      <h3 style="font-family:'Courier New';" style="color:Black;"><strong>The App for Music Lovers.</strong></h3>
      <h5 style="font-family:'Courier New';" style="color:Black;"><strong>start up a conversation</strong></h5>
      </p>
    </div>

   <div class="nav">
     <p style="text-align:center;" style="color:DarkBlue;">
     <% if current_user %>
     <%= link_to "Logout", logout_path %>
     <%= link_to "Userspage", user_path(current_user.id) %>
     <%= link_to "Browse Records", records_path %>
     <%= link_to "Make a Post", new_post_path %>
     <%= link_to "View all Records", posts_path %>
     <% else %>
     <%= link_to "Login", :controller => 'sessions', :action => 'new' %>
     <% end %>
     </p>
  </div>
    <title>Vinyl_Heads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <body style="background-color:Teal;">
    
  </head>
 
  <body>

    
<center>
    <%= yield %>

    <style>

   </center>

  </body>
 
</html>